/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav div ul li a {
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  font-size: 2rem;
  color: #484349 !important;
}
nav div ul li a:hover {
  color: #58a4b0 !important;
}

#banner .bannerContents {
  height: 50vh;
  background-color: #58a4b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#banner .bannerContents h1 {
  font-family: "Share Tech Mono", monospace;
  color: #484349;
  font-size: 3rem;
  text-align: center;
}
#banner .bannerContents h3 {
  font-family: "Share Tech Mono", monospace;
  color: #484349;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

#aboutSection {
  background-color: #f7f0f0;
  font-family: "Share Tech Mono", monospace;
  color: #484349;
}
#aboutSection .aboutArea {
  display: flex;
  flex-direction: column;
}
#aboutSection .aboutArea h1 {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  margin: 10px auto;
}
#aboutSection .aboutArea .aboutContents {
  height: 55vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#aboutSection .aboutArea .aboutContents img {
  width: 15%;
  border-radius: 10%;
  margin: 0 20px;
}
#aboutSection .aboutArea .aboutContents p {
  font-size: 2rem;
  text-align: center;
  margin: 0 20px;
  width: 50%;
}

#portfolioSection {
  font-family: "Share Tech Mono", monospace;
  color: #484349 !important;
}
#portfolioSection .portfolioContents {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #58a4b0;
}
#portfolioSection .portfolioContents h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}
#portfolioSection .portfolioContents .worksArea {
  display: flex;
  flex-direction: row;
  width: 150vh;
  margin: 10px auto;
}
#portfolioSection .portfolioContents .worksArea .worksObject {
  width: 33%;
  margin: 0 auto;
  text-align: center;
}
#portfolioSection .portfolioContents .worksArea .worksObject img {
  width: 75%;
  border-radius: 5px;
}
#portfolioSection .portfolioContents .worksArea .worksObject h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0;
}
#portfolioSection .portfolioContents .worksArea .worksObject span {
  display: block;
  font-size: 1rem;
  margin: 10px 0;
}
#portfolioSection .portfolioContents .worksArea .worksObject p {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px;
}
#portfolioSection .portfolioContents .worksArea .worksObject a {
  display: inline-block;
  margin: 10px auto;
  text-decoration: none;
  color: #484349;
  border: 2px #484349 solid;
  border-radius: 4px;
  padding: 5px;
}
#portfolioSection .portfolioContents .worksArea .worksObject a:hover {
  transform: scale(1.1);
  background-color: #f7f0f0;
  color: #58a4b0;
  border: 2px #58a4b0 solid;
}
#portfolioSection .portfolioContents a {
  color: #484349;
  text-decoration: none;
}
#portfolioSection .portfolioContents a p {
  font-size: 1.5rem;
}
#portfolioSection .portfolioContents a p:hover {
  color: #f7f0f0;
}

/*# sourceMappingURL=style.css.map */
