/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  background-color: #d8e3e7;
}
nav div .mainLogo {
  width: 20%;
}
nav div ul li a {
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  font-size: 2rem;
  color: #132c33 !important;
}
nav div ul li a:hover {
  color: #126e82 !important;
}

.scrolled {
  background-color: rgba(216, 227, 231, 0.7);
  -webkit-box-shadow: 0px 10px 15px 0px rgba(19, 44, 51, 0.5);
  box-shadow: 0px 10px 15px 0px rgba(19, 44, 51, 0.5);
}

.navbarButton {
  color: #132c33;
}
.navbarButton .navbarIcon {
  color: #132c33;
}

@media screen and (max-width: 576px) {
  nav div .mainLogo {
    width: 50px;
  }
  nav div ul li a {
    text-align: right;
  }
}
#banner {
  height: 50vh;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
#banner .bannerContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  width: 100%;
  background-color: rgba(18, 110, 130, 0.5);
  color: #d8e3e7;
  text-shadow: 0px 0px 5px #132c33;
}
#banner .bannerContents h1 {
  font-size: 3vw;
  text-align: center;
}
#banner .bannerContents h3 {
  font-weight: 600;
  font-size: 2vw;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #banner {
    height: 25vh;
  }
  #banner .bannerContents h1 {
    font-size: 5vw;
  }
  #banner .bannerContents h3 {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 1024px) {
  #banner {
    height: 20vh;
  }
}
#aboutSection {
  background-color: #d8e3e7;
  font-family: "Share Tech Mono", monospace;
  color: #132c33;
  padding: 20px 0;
}
#aboutSection .aboutArea {
  display: flex;
  flex-direction: column;
}
#aboutSection .aboutArea h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5vw;
  margin: 10px auto;
}
#aboutSection .aboutArea .aboutContents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#aboutSection .aboutArea .aboutContents img {
  width: 15%;
  border-radius: 10%;
  margin: 0 20px;
}
#aboutSection .aboutArea .aboutContents p {
  font-size: 1.8vw;
  text-align: left;
  margin: 0 20px;
  width: 50%;
}

@media screen and (max-width: 576px) {
  #aboutSection .aboutArea h1 {
    font-size: 4vw;
  }
  #aboutSection .aboutArea .aboutContents {
    display: flex;
    flex-direction: column;
  }
  #aboutSection .aboutArea .aboutContents img {
    width: 20%;
    margin: 10px 0;
  }
  #aboutSection .aboutArea .aboutContents p {
    font-size: 3vw;
    width: 70%;
  }
}
#skillsSection {
  background-color: #126e82;
  font-family: "Share Tech Mono", monospace;
  color: #132c33;
}
#skillsSection .skillsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
#skillsSection .skillsArea h1 {
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}
#skillsSection .skillsArea .skilssIcon {
  margin: 10px auto;
}
#skillsSection .skillsArea .skilssIcon a {
  font-size: 2.5vw;
  color: #d8e3e7;
}
#skillsSection .skillsArea .skilssIcon a:hover {
  color: #132c33;
}

@media screen and (max-width: 576px) {
  #skillsSection .skillsArea h1 {
    font-size: 4vw;
  }
  #skillsSection .skillsArea .skilssIcon a {
    font-size: 4.5vw;
  }
}
#portfolioSection {
  font-family: "Share Tech Mono", monospace;
  color: #132c33 !important;
  background-color: #d8e3e7;
  padding: 20px 0;
}
#portfolioSection .portfolioContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s;
}
#portfolioSection .portfolioContents h1 {
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
  margin: 10px auto;
}
#portfolioSection .portfolioContents .worksArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}
#portfolioSection .portfolioContents .worksArea .worksObject {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#portfolioSection .portfolioContents .worksArea .worksObject img {
  width: 20vw;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(18, 110, 130, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(18, 110, 130, 0.5);
}
#portfolioSection .portfolioContents .worksArea .worksObject h3 {
  font-size: 1.5vw;
  font-weight: 600;
}
#portfolioSection .portfolioContents .worksArea .worksObject span {
  display: block;
  font-size: 1vw;
}
#portfolioSection .portfolioContents .worksArea .worksObject p {
  font-size: 1vw;
  font-weight: 600;
}
#portfolioSection .portfolioContents .worksArea .worksObject a {
  display: inline-block;
  font-size: 20px;
  margin: 20px auto;
  text-decoration: none;
  color: #132c33;
  border: 2px #132c33 solid;
  border-radius: 4px;
  padding: 5px;
}
#portfolioSection .portfolioContents .worksArea .worksObject a:hover {
  background-color: #126e82;
  color: #d8e3e7;
  border: 2px #d8e3e7 solid;
}
#portfolioSection .portfolioContents a {
  color: #132c33;
  text-decoration: none;
}
#portfolioSection .portfolioContents a p {
  font-size: 1.5vw;
}
#portfolioSection .portfolioContents a p:hover {
  color: #126e82;
}

@media screen and (max-width: 576px) {
  #portfolioSection .portfolioContents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portfolioSection .portfolioContents h1 {
    font-size: 4vw;
  }
  #portfolioSection .portfolioContents .worksArea {
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
  }
  #portfolioSection .portfolioContents .worksArea .worksObject {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  #portfolioSection .portfolioContents .worksArea .worksObject img {
    width: 80vw;
  }
  #portfolioSection .portfolioContents .worksArea .worksObject h3 {
    font-size: 3.5vw;
  }
  #portfolioSection .portfolioContents .worksArea .worksObject span {
    font-size: 3vw;
  }
  #portfolioSection .portfolioContents .worksArea .worksObject p {
    font-size: 3vw;
  }
  #portfolioSection .portfolioContents a p {
    font-size: 4vw;
  }
}
#contactSection {
  background: #126e82;
  font-family: "Share Tech Mono", monospace;
  color: #132c33;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
#contactSection #contactForm {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#contactSection #contactForm h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.5vw;
}
#contactSection #contactForm .contactInputs {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
#contactSection #contactForm .contactInputs input,
#contactSection #contactForm .contactInputs textarea {
  width: 300px;
  border: 2px #132c33 solid;
  border-radius: 4px;
  resize: none;
  background-color: #126e82;
}
#contactSection #contactForm .contactInputs input::placeholder,
#contactSection #contactForm .contactInputs textarea::placeholder {
  color: #132c33;
}
#contactSection #contactForm .contactButton button {
  font-size: 20px;
  border: 2px #132c33 solid;
  border-radius: 4px;
  padding: 5px;
  background-color: transparent;
}
#contactSection #contactForm .contactButton button:hover {
  background-color: #d8e3e7;
  color: #126e82;
  border: 2px #d8e3e7 solid;
}

@media screen and (max-width: 576px) {
  #contactSection #contactForm h1 {
    font-size: 4vw;
  }
}
#footerSection {
  background: #d8e3e7;
  font-family: "Share Tech Mono", monospace;
  color: #132c33;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footerSection .footerArea {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}
#footerSection .footerArea p {
  margin: auto 0;
}
#footerSection .footerArea a {
  display: inline-block;
  color: #132c33;
  font-size: 2vw;
}
#footerSection .footerArea a:hover {
  color: #126e82;
}

@media screen and (max-width: 576px) {
  #footerSection .footerArea {
    width: 90%;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 10px 0;
  }
  #footerSection .footerArea p {
    font-weight: 600;
    font-size: 3.5vw;
    text-align: center;
    margin-top: 10px;
  }
  #footerSection .footerArea .socialLinks {
    text-align: center;
  }
  #footerSection .footerArea .socialLinks a {
    display: inline-block;
    font-size: 6vw;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
