#contactSection {
    background: $alternateColor;
    font-family: "Share Tech Mono", monospace;
    color: $secondaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    #contactForm {
        display: flex;
        flex-direction: column;
        gap: 2px;
        h1 {
            text-align: center;
            font-weight: 600;
            font-size: 2.5vw;
        }
        .contactInputs {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            input,
            textarea {
                width: 500px;
                border: 2px $secondaryColor solid;
                border-radius: 4px;
                resize: none;
                background-color: $alternateColor;
                &::placeholder {
                    color: $secondaryColor;
                }
            }
        }
        .contactButton {
            button {
                font-size: 20px;
                border: 2px $secondaryColor solid;
                border-radius: 4px;
                padding: 5px;
                background-color: transparent;
                &:hover {
                    background-color: $primaryColor;
                    color: $alternateColor;
                    border: 2px $primaryColor solid;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #contactSection {
        color: $secondaryColor;
        #contactForm {
            h1 {
                font-size: 4vw;
            }
            .contactInputs {
                input,
                textarea {
                    width: 300px;
                }
            }
        }
    }
}
