nav {
    background-color: $primaryColor;
    div {
        .mainLogo {
            width: 20%;
        }
        ul {
            li {
                a {
                    font-family: "Share Tech Mono", monospace;
                    font-weight: bold;
                    font-size: 2rem;
                    color: $secondaryColor !important;
                    &:hover {
                        color: $alternateColor !important;
                    }
                }
            }
        }
    }
}

.scrolled {
    background-color: rgb(216, 227, 231, 0.7);
    -webkit-box-shadow: 0px 10px 15px 0px rgb(19, 44, 51, 0.5);
    box-shadow: 0px 10px 15px 0px rgb(19, 44, 51, 0.5);
}
.navbarButton {
    color: $secondaryColor;
    .navbarIcon {
        color: $secondaryColor;
    }
}

@media screen and (max-width: 576px) {
    nav {
        div {
            display: flex;
            flex-direction: row;
            margin: auto 0 !important;
            vertical-align: middle;
            align-items: center;
            .navbarButton {
                span {
                    display: inline-block !important;
                    text-align: right !important;
                }
            }
            div {
                ul {
                    li {
                        a {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}
