#portfolioSection {
    font-family: "Share Tech Mono", monospace;
    color: $secondaryColor !important;
    background-color: $alternateColor;
    height: 85vh;
    .portfolioContents {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 2.5vw;
            font-weight: 600;
            text-align: center;
            margin: 10px auto;
        }
        .worksArea {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 150vh;
            margin: 10px auto;
            .worksObject {
                margin: 0 0;
                text-align: center;
                img {
                    width: 75%;
                    border-radius: 5px;
                }
                h3 {
                    font-size: 1.5vw;
                    font-weight: 600;
                    margin: 10px 0;
                }
                span {
                    display: block;
                    font-size: 1vw;
                    margin: 10px 0;
                }
                p {
                    font-size: 1vw;
                    font-weight: 600;
                    margin: 10px;
                }
                a {
                    display: inline-block;
                    margin: 10px auto;
                    text-decoration: none;
                    color: $secondaryColor;
                    border: 2px $secondaryColor solid;
                    border-radius: 4px;
                    padding: 5px;
                    &:hover {
                        transform: scale(1.1);
                        background-color: $primaryColor;
                        color: $alternateColor;
                        border: 2px $alternateColor solid;
                    }
                }
            }
        }
        a {
            color: $secondaryColor;
            text-decoration: none;
            p {
                font-size: 1.5vw;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #portfolioSection {
        height: 180vh;
        .portfolioContents {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 4vw;
            }
            .worksArea {
                flex-direction: column;
                margin: 10px auto;
                width: 100%;
                .worksObject {
                    width: 100%;
                    text-align: center;
                    margin: 10px 0;
                    h3 {
                        font-size: 3.5vw;
                    }
                    span {
                        font-size: 3vw;
                    }
                    p {
                        font-size: 3vw;
                    }
                }
            }
            a {
                p {
                    font-size: 4vw;
                }
            }
        }
    }
}
