#skillsSection {
    background-color: $alternateColor;
    font-family: "Share Tech Mono", monospace;
    color: $secondaryColor;
    .skillsArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        h1 {
            font-size: 2.5vw;
            font-weight: 600;
            text-align: center;
            margin: 10px auto;
        }
        .skilssIcon {
            margin: 10px auto;
            .skillsCategories {
                text-align: center;
                border-bottom: 2px solid $primaryColor;
                &:last-child {
                    border-bottom: none;
                }
                h3 {
                    font-size: 1.8vw;
                    font-weight: bold;
                    margin: 10px 0;
                }
                a {
                    display: inline-block;
                    font-size: 20px;
                    color: $primaryColor;
                    text-decoration: none;
                    margin-bottom: 10px;
                    &:hover {
                        color: $secondaryColor;
                    }
                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        :last-child {
                            margin-top: 5px;
                            font-weight: bold;
                            font-size: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #skillsSection {
        .skillsArea {
            h1 {
                font-size: 4vw;
            }
            .skilssIcon {
                .skillsCategories {
                    h3 {
                        font-size: 3.5vw;
                    }
                    a {
                        font-size: 4.5vw;
                    }
                }
            }
        }
    }
}
