@import "reset.scss";
@import "variables.scss";
@import "navbar.scss";
@import "banner.scss";
@import "about.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "contact.scss";
@import "footer.scss";

* {
    -webkit-transition: all 0.5s ease-in-out !important;
    -moz-transition: all 0.5s ease-in-out !important;
    transition: all 0.5s ease-in-out !important;
    scroll-behavior: smooth;
}
